<app-admin-dash-board></app-admin-dash-board><br><br>

<section class="main">

  <div class="content">

    <div class="container">
      <h2 class="mb-5"><b>STUDENT PROFILES</b></h2>


      <div class="table-responsive">

        <table class="table table-striped custom-table">
          <thead>
            <tr>

              <th scope="col"> studentId</th>
              <th scope="col">Name</th>
              <th scope="col">email</th>
             
              <th scope="col">address</th>
              <th scope="col">nic</th>
              <th scope="col"> gender</th>
              <th scope="col"> birthday</th>
              <th scope="col"> courseName</th>
              <th scope="col"> courseDuration</th>
              <th scope="col"> country</th>
              <th scope="col"> state</th>
            </tr>
          </thead>
          <tbody>

            <tr scope="row" *ngFor="let student of allStudent; index as i; first as isFirst">
              <!-- {{i}}/{{users.length}}. {{user}} <span *ngIf="isFirst">default</span> -->

              <td>{{student.studentId}}</td>
              <td>{{student.studentName}}</td>
              <td>{{student.email}}</td>
              <td>{{student.course}}</td>
              <td>{{student.birthday}}</td>
              <td>{{student.gender}}</td>
              <td>{{student.NIC}}</td>
              <td>{{student.address}}</td>
             
              <td>{{student.courseName}}</td>
              <td>{{student.courseDuration}}</td>
              <td>{{student.country}}</td>
              <td>{{student.state}}</td>
            </tr>

            <tr  >

            </tr>

            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

          </tbody>
        </table>
      </div>


    </div>

  </div>
</section>