<app-admin-dash-board></app-admin-dash-board><br><br>

<section>
    <table class="table table-hover" style="background-color:#546de5;">
        <thead >
          <tr>
            <th scope="col">#</th>
            <th scope="col">Full name </th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th scope="col">NIC</th>
            <th scope="col">Birthday</th>
            <th scope="col">Class Name</th>
            <th scope="col">Class duration</th>
            <th scope="col">O/L</th>
            <th scope="col">A/l</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            
          </tr>
          <tr>
            <th scope="row">2</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
  </section> 