<app-admin-dash-board></app-admin-dash-board><br><br>

<section class="main">

  <div class="content">

    <div class="container">
      <h2 class="mb-5"><b>STUDENT PROFILES</b></h2>


      <div class="table-responsive">

        <table class="table table-striped custom-table">
          <thead>
            <tr>

              <th scope="col"> studentId</th>
              <th scope="col">Name</th>
              <th scope="col">email</th>
              <th scope="col">password</th>
              <th scope="col">address</th>
              <th scope="col">nic</th>
              <th scope="col"> gender</th>
              <th scope="col"> birthday</th>
              <th scope="col"> courseName</th>
              <th scope="col"> courseDuration</th>
              <th scope="col"> country</th>
              <th scope="col"> state</th>
            </tr>
          </thead>
          <tbody>
            <tr scope="row">
              <td>S001</td>
              <td>Upeksha</td>
              <td>upekshasachintha@gamil.com</td>
              <td>1234</td>
              <td>Galle</td>
              <td>199934910140</td>
              <td>male</td>
              <td>1999/12/14</td>
              <td>it</td>
              <td>6months</td>
              <td>Sri lanaka</td>
              <td>South</td>

            </tr>

            <tr>
              <td>S001</td>
              <td>Upeksha</td>
              <td>upekshasachintha@gamil.com</td>
              <td>1234</td>
              <td>Galle</td>
              <td>199934910140</td>
              <td>male</td>
              <td>1999/12/14</td>
              <td>it</td>
              <td>6months</td>
              <td>Sri lanaka</td>
              <td>South</td>
            </tr>
            
            <tr>
              <td>S001</td>
              <td>Upeksha</td>
              <td>upekshasachintha@gamil.com</td>
              <td>1234</td>
              <td>Galle</td>
              <td>199934910140</td>
              <td>male</td>
              <td>1999/12/14</td>
              <td>it</td>
              <td>6months</td>
              <td>Sri lanaka</td>
              <td>South</td>
            </tr>
            
            <tr>
              <td>S001</td>
              <td>Upeksha</td>
              <td>upekshasachintha@gamil.com</td>
              <td>1234</td>
              <td>Galle</td>
              <td>199934910140</td>
              <td>male</td>
              <td>1999/12/14</td>
              <td>it</td>
              <td>6months</td>
              <td>Sri lanaka</td>
              <td>South</td>
            <tr>

            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

          </tbody>
        </table>
      </div>


    </div>

  </div>
</section>