<app-admin-dash-board></app-admin-dash-board>
<section class=" gradient-custom">
    <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Inquiry Adding</h3>
              
              <form (ngSubmit)="onSubmit(Inquiry)" #Inquiry="ngForm">
  
                <div class="row">
                  <div class="col-md-6 mb-4">
  
                    <div class="form-outline">
                      <input type="text" class="form-control form-control-lg" name="inquiryId" 
                      [(ngModel)]="saveData.inquiryId" #inId="ngModel" (change)="inputChange(inId)" required />
                      <label class="form-label" >Inquiry Id</label>
                    </div>
  
                  </div>
                  <div class="col-md-6 mb-4">
  
                    <div class="form-outline">
                      <input type="text" class="form-control form-control-lg" name="inquiry" 
                      [(ngModel)]="saveData.inquiry" #inquiry="ngModel" (change)="inputChange(inquiry)" required/>
                      <label class="form-label" >Inquiry</label>
                    </div>
  
                  </div>
                </div>
  
                <div class="row">
                  <div class="col-md-6 mb-4 d-flex align-items-center">
  
                    <div class="form-outline datepicker w-100">
                      <input type="text" class="form-control form-control-lg" name="studenetId" 
                      [(ngModel)]="saveData.studenetId" #stId="ngModel" (change)="inputChange(stId)" required />
                      <label  class="form-label">Studenet Id</label>
                    </div>
  
                  </div>
                  <div class="col-md-6 mb-4">
  
                    
                    </div>
                </div>
  
                <div class="row">
                  <div class="col-md-6 mb-4 pb-2">
  
                    <div class="form-outline">
                      <input type="email"  class="form-control form-control-lg" name="description" 
                      [(ngModel)]="saveData.description" #desc="ngModel" (change)="inputChange(desc)" required  />
                      <label class="form-label">Description</label>
                    </div>
  
                  </div>
                  <div class="col-md-6 mb-4 pb-2">
  
                    <div class="form-outline">
                      <input type="tel" class="form-control form-control-lg"name="email" 
                      [(ngModel)]="saveData.email" #email="ngModel" (change)="inputChange(email)" required  />
                      <label class="form-label">email</label>
                    </div>
  
                  </div>
                </div>
  
                <div class="row">
                  
                </div>
  
                <div class="mt-4 pt-2">
                  <button type="submit" class="btn btn-warning btn-lg ms-2">
                    Submit form</button>
                </div>
  
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>