<!-- <p>login-dash-borad works!</p> -->
<div class="userBackground d-flex justify-content-end">
    <div class="userSideBar">
        <div class="userButtonFrame">
            <a href="login">LOGIN</a>
            
            <br/>
            <a id="singUpName" href="singup"  >SIGN UP</a>
        </div>
    </div>
</div>

<style>
    .userBackground{
    background: url("../../../assets/img/dashborad1.jpg");
    background-size:cover;
    background-position: center center; 
    height: 100vh;
    width: 100%;
}

.userSideBar{
    background-color: rgb(0, 0, 0, 0.7);
    height: 100vh;
    width: 25%;
}

.userButtonFrame{
    font-family: 'Orbitron', sans-serif;
    color: white;
    font-size: 72px;
    margin: 60% 0% 0% 0%;
    text-align: center;
}


</style>