<app-admin-dash-board></app-admin-dash-board>
<section>
    <div>
        <div >
            <!--<div class="d-flex justify-content-center mt-5 pt-3">
                <h1>Post</h1>
            </div>-->

            <div class="container">
                <div class="d-flex my-4 mx-4">
                    <div class="row">
                        <div class="col-3 mb-4" style="width: 19rem">
                            <div class="d-flex justify-content-center">
                                <div class="card shadow-lg"
                                     style="width: 26rem; font-family: 'Architects Daughter', cursive; text-align: center;">
                                    <iframe src={Image.G1} class="px-2 py-2 artistArtworkImage" alt="" width="285px"
                                         height="285px"></iframe>
                                         <button type="button" class="btn btn-primary">Upload</button>
                                         <button type="button" class="btn btn-primary">Download and see blocks</button>
                                </div>
                            </div>
                            <br>
                        </div>
                        <div class="col-3 mb-4" style="width: 19rem">
                            <div class="d-flex justify-content-center">
                                <div class="card shadow-lg"
                                     style="width: 26rem; font-family: 'Architects Daughter', cursive; text-align: center;">
                                    <iframe src={Image.G1} class="px-2 py-2 artistArtworkImage" alt="" width="285px"
                                         height="285px"></iframe>
                                         <button type="button" class="btn btn-primary">Upload</button>
                                         <button type="button" class="btn btn-primary">Download and see blocks</button>
                                </div>
                            </div>
                            <br>
                        </div>


                        <div class="col-3 mb-4" style="width: 19rem">
                            <div class="d-flex justify-content-center">
                                <div class="card shadow-lg"
                                     style="width: 26rem; font-family: 'Architects Daughter', cursive; text-align: center;">
                                    <iframe src={Image.G1} class="px-2 py-2 artistArtworkImage" alt="" width="285px"
                                         height="285px"></iframe>
                                         <button type="button" class="btn btn-primary">Upload</button>
                                         <button type="button" class="btn btn-primary">Download and see blocks</button>
                                </div>
                            </div>
                            <br>
                        </div>

                        <div class="col-3 mb-4" style="width: 19rem">
                            <div class="d-flex justify-content-center">
                                <div class="card shadow-lg"
                                     style="width: 26rem; font-family: 'Architects Daughter', cursive; text-align: center;">
                                    <iframe src={Image.G1} class="px-2 py-2 artistArtworkImage" alt="" width="285px"
                                         height="285px"></iframe>
                                         <button type="button" class="btn btn-primary">Upload</button>
                                         <button type="button" class="btn btn-primary">Download and see blocks</button>
                                </div>
                            </div>
                            <br>
                        </div>

                        <div class="col-3 mb-4" style="width: 19rem">
                            <div class="d-flex justify-content-center">
                                <div class="card shadow-lg"
                                     style="width: 26rem; font-family: 'Architects Daughter', cursive; text-align: center;">
                                    <iframe src={Image.G1} class="px-2 py-2 artistArtworkImage" alt="" width="285px"
                                         height="285px"></iframe>
                                         <button type="button" class="btn btn-primary">Upload</button>
                                         <button type="button" class="btn btn-primary">Download and see blocks</button>
                                </div>
                            </div>
                            <br>
                        </div>

                        <div class="col-3 mb-4" style="width: 19rem">
                            <div class="d-flex justify-content-center">
                                <div class="card shadow-lg"
                                     style="width: 26rem; font-family: 'Architects Daughter', cursive; text-align: center;">
                                    <iframe src={Image.G1} class="px-2 py-2 artistArtworkImage" alt="" width="285px"
                                         height="285px"></iframe>
                                         <button type="button" class="btn btn-primary">Upload</button>
                                         <button type="button" class="btn btn-primary">Download and see blocks</button>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

