<app-student-dash-borad></app-student-dash-borad>
<section>
    <div>
        <div class="galleryBackground">
            <!--<div class="d-flex justify-content-center mt-5 pt-3">
                <h1>Post</h1>
            </div>-->

            <div class="container">
                <div class="d-flex my-4 mx-4">
                    <div class="row">
                        <div class="col-3 mb-4" style="minWidth: 19rem">
                            <div class="d-flex justify-content-center">
                                <div class="card shadow-lg"
                                     style="width: 26rem; font-family: 'Architects Daughter', cursive; text-align: center;">
                                    
                                    <img src={Image.G1} class="px-2 py-2 artistArtworkImage" alt="" width="285px"
                                         height="285px"/>
                                         <div class="button">
                                            <button type="button" class="btn btn-primary">Download </button>
                                            
                                        </div>
                                </div>
                            </div>
                            <br>
                        </div>
                        <div class="col-3 mb-4" style="minWidth: 19rem">
                            <div class="d-flex justify-content-center">
                                <div class="card shadow-lg"
                                     style="width: 26rem; font-family: 'Architects Daughter', cursive; text-align: center;">
                                   
                                    <img src={Image.G1} class="px-2 py-2 artistArtworkImage" alt="" width="285px"
                                         height="285px"/>
                                         <div class="button">
                                            <button type="button" class="btn btn-primary">Download </button>
                                            
                                        </div>
                                </div>
                            </div>
                            <br>
                        </div>


                        <div class="col-3 mb-4" style="minWidth: 19rem">
                            <div class="d-flex justify-content-center">
                                <div class="card shadow-lg"
                                     style="width: 26rem; font-family: 'Architects Daughter', cursive; text-align: center;">
                                    
                                    <img src={Image.G1} class="px-2 py-2 artistArtworkImage" alt="" width="285px"
                                         height="285px"/>
                                         <div class="button">
                                            <button type="button" class="btn btn-primary">Download </button>
                                            
                                        </div>
                                </div>
                            </div>
                            <br>
                        </div>
                        <div class="col-3 mb-4" style="minWidth: 19rem">
                            <div class="d-flex justify-content-center">
                                <div class="card shadow-lg"
                                     style="width: 26rem; font-family: 'Architects Daughter', cursive; text-align: center;">
                                    
                                    <img src={Image.G1} class="px-2 py-2 artistArtworkImage" alt="" width="285px"
                                         height="285px"/>
                                         <div class="button">
                                            <button type="button" class="btn btn-primary">Download </button>
                                            
                                        </div>
                                </div>
                            </div>
                            <br>
                        </div>
                        <div class="col-3 mb-4" style="minWidth: 19rem">
                            <div class="d-flex justify-content-center">
                                <div class="card shadow-lg"
                                     style="width: 26rem; font-family: 'Architects Daughter', cursive; text-align: center;">
                                    
                                    <img src={Image.G1} class="px-2 py-2 artistArtworkImage" alt="" width="285px"
                                         height="285px"/>
                                         <div class="button">
                                            <button type="button" class="btn btn-primary">Download </button>
                                            
                                        </div>
                                </div>
                            </div>
                            <br>
                        </div>
                        <div class="col-3 mb-4" style="minWidth: 19rem">
                            <div class="d-flex justify-content-center">
                                <div class="card shadow-lg"
                                     style="width: 26rem; font-family: 'Architects Daughter', cursive; text-align: center;">
                                    
                                    <img src={Image.G1} class="px-2 py-2 artistArtworkImage" alt="" width="285px"
                                         height="285px"/>
                                         <div class="button">
                                            <button type="button" class="btn btn-primary">Download </button>
                                            
                                        </div>
                                </div>
                            </div>
                            <br>
                        </div>
                        <div class="col-3 mb-4" style="minWidth: 19rem">
                            <div class="d-flex justify-content-center">
                                <div class="card shadow-lg"
                                     style="width: 26rem; font-family: 'Architects Daughter', cursive; text-align: center;">
                                    
                                    <img src={Image.G1} class="px-2 py-2 artistArtworkImage" alt="" width="285px"
                                         height="285px"/>
                                         <div class="button">
                                            <button type="button" class="btn btn-primary">Download </button>
                                            
                                        </div>
                                </div>
                            </div>
                            <br>
                        </div>
                        <div class="col-3 mb-4" style="minWidth: 19rem">
                            <div class="d-flex justify-content-center">
                                <div class="card shadow-lg"
                                     style="width: 26rem; font-family: 'Architects Daughter', cursive; text-align: center;">
                                    
                                    <img src={Image.G1} class="px-2 py-2 artistArtworkImage" alt="" width="285px"
                                         height="285px"/>
                                         <div class="button">
                                            <button type="button" class="btn btn-primary">Download </button>
                                            
                                        </div>
                                </div>
                            </div>
                            <br>
                        </div>
                        <div class="col-3 mb-4" style="minWidth: 19rem">
                            <div class="d-flex justify-content-center">
                                <div class="card shadow-lg"
                                     style="width: 26rem; font-family: 'Architects Daughter', cursive; text-align: center;">
                                    
                                    <img src={Image.G1} class="px-2 py-2 artistArtworkImage" alt="" width="285px"
                                         height="285px"/>
                                         <div class="button">
                                            <button type="button" class="btn btn-primary">Download </button>
                                            
                                        </div>
                                </div>
                            </div>
                            <br>
                        </div>
                        <div class="col-3 mb-4" style="minWidth: 19rem">
                            <div class="d-flex justify-content-center">
                                <div class="card shadow-lg"
                                     style="width: 26rem; font-family: 'Architects Daughter', cursive; text-align: center;">
                                    
                                    <img src={Image.G1} class="px-2 py-2 artistArtworkImage" alt="" width="285px"
                                         height="285px"/>
                                         <div class="button">
                                            <button type="button" class="btn btn-primary">Download </button>
                                            
                                        </div>
                                </div>
                            </div>
                            <br>
                        </div>
                        <div class="col-3 mb-4" style="minWidth: 19rem">
                            <div class="d-flex justify-content-center">
                                <div class="card shadow-lg"
                                     style="width: 26rem; font-family: 'Architects Daughter', cursive; text-align: center;">
                                    
                                    <img src={Image.G1} class="px-2 py-2 artistArtworkImage" alt="" width="285px"
                                         height="285px"/>
                                     <div class="button">
                                            <button type="button" class="btn btn-primary">Download </button>
                                            
                                    </div>

                                </div>
                            </div>
                            <br>
                        </div>
                        <div class="col-3 mb-4" style="minWidth: 19rem">
                            <div class="d-flex justify-content-center">
                                <div class="card shadow-lg"
                                     style="width: 26rem; font-family: 'Architects Daughter', cursive; text-align: center;">
                                    
                                    <img src={Image.G1} class="px-2 py-2 artistArtworkImage" alt="" width="285px"
                                         height="285px"/>
                                    <div class="button">
                                        <button type="button" class="btn btn-primary">Download </button>
                                        
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
